<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
    {% if submitted %}
    <h1>Hello {{sname}}, Thanks for providing feedback,
		it is very helpful for us to provide better service</h1>
    {% else %}
    <h1>student input form</h1>
    {% endif %}
        <form method="post">{{form.as_p}}
            {% csrf_token %}
        <input type="submit" value="submit"></form>
    </div>
</body>
</html>