<!DOCTYPE html>
{%extends 'testapp/base.html'%}
{%block body_block%}
    <div class="jumbotron">
        <div class="container" align="center">
            <h1>Thanks for using SaiExams</h1>
            <p>AnyWay We are Feeling said because you logout, Atleast 24-hours per day
            you have to use our app</p>
            <h2>
                Please login again and Enjoy...........
            </h2>
            <a href="/accounts/login" class="btn btn-success">Login</a>
        </div>
    </div>
{%endblock%}