<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my website</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'images/css/style.css' %}">
</head>
<body>
    <h1>my prshant web</h1>
    <ul>
        <li><a href="mov/">movies info</a></li>
        <li><a href="pot/">news info</a></li>
        <li><a href="spo/">sportsinfo</a></li>
    </ul>
</body>
</html>
